* {
    margin: 0;
    padding: 0;
    list-style-type: none;
    text-decoration: none;
    box-sizing: border-box;
}

a {
    text-decoration: none;
    color: white;
}

a:hover {
    color: white;
}

body{
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

html {
    scroll-behavior: initial;
}

.nav-item {
    margin: 0 10px;
}

.navbar {
    box-shadow: 0 0 10px 2px gray;
}

.left {
    margin-left: 0 !important;
}

.toggles-link {
    color: white;
    text-decoration: none;
    background-color: green;
    padding: 12px 20px;
    border-bottom: 3px solid brown !important;
    border: none;
    border-radius: 0;
}

.navbar-toggler {
    border: none;
    margin: 0;
}

.navbar-toggler:focus {
    text-decoration: none;
    outline: 0;
    box-shadow: 0 0 0 0;
}

.navbar-dark .navbar-toggler {
    color: white;
}

.nav-link:hover {
    color: red !important;
}

.header {
    padding: 20px 0;
    background-color: #FAFAFA;
}

.header > .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.header-link {
    color: black;
    font-weight: bold;
    font-size: 25px;
}

.header-link:hover {
    color: black;
}

.call-link {
    color: red;
    font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    font-weight: bold;
    font-size: 25px;     
}

.call-link:hover {
    color: tomato;
}

.main {
    background-image:
    linear-gradient(to bottom, rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url('../img/011.jpg');
    background-size: cover;
    background-repeat: no-repeat;
    height: 500px;
}

.main > .container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    height: 100%;
}

main:hover {
    transform: scale(300px);
}   

.main-title {
    color: white;
    font-weight: bold;
    font-size: 45px;
}

.main-subtext {
    color: white;
    font-weight: bold;
    font-size: 20px;
    padding-top: 20px;
}

.metal-title {
    text-transform: uppercase;
    text-align: center;
    margin-top: 70px;
    margin-bottom: 10px;
}

.metal-subtext {
    text-align: center;
    margin-top: 30px;
    margin-bottom: 40px;
}

.card-img-top:hover {
    transition: 0.5s;
    transform: scale(1.2) !important;
    object-fit: cover;
    background-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.6));
    
}

.card-img-top:hover .card-body {
    background-color: red;
}

.card-img-top {
    display: inline-block;
    object-fit: cover;
    width: 100% !important;
    height: 100% !important;

}

.row {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.col {
    padding: 0 2px;
}

.image {
    height: 250px;
    display: inline-block;
    overflow: hidden;
}

.card-body {
    background-color: #FAFAFA;
    height: 150px;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
}

.card-title {
    text-align: center;
    margin-top: 10px !important;
    text-transform: uppercase;
    font-size: 25px;
}

.card-text {
    text-align: center;
    font-weight: bold;
    margin-bottom: 30px !important;
    color: red;
    font-size: 20px;
}

.cards {
    margin-bottom: 50px;
}

.call {
    background-color: #FAFAFA;
    border-top: 1px solid lightgrey;
    border-bottom: 1px solid lightgrey;
    text-align: center;
    padding-bottom: 50px;
}

.call-subtext {
    padding-top: 50px;
    font-size: 30px;
    font-weight: 500;
}

.call-number {
    color: red;
    font-size: 25px;
    font-weight: bold;
}

.call-number:hover {
    color: tomato;
}

.products-title {
    text-transform: uppercase;
    padding-top: 60px;
    text-align: center;
}

.size {
    font-size: 20px;
}

.photo {
    height: 200px;
}

.small {
    height: 100px;
}

.products-hr {
    margin-bottom: 30px;
}

.map-call {
    color: black;
    font-weight: 500;
    font-size: 20px;
}

.map-call:hover {
    color: black;
}

.map-subtext {
    font-weight: 500;
    margin-top: 25px;
}

.wrapper {
    width: 30%;
    margin-top: 30px;
}

.map > .container {
    display: flex;
    justify-content: space-between;
}

.map {
    background-color: #FAFAFA;
    margin-top: 50px;
    border-top: 1px solid lightgrey;
    padding-bottom: 30px;
}

.maps {
    margin-top: 100px;
}

.map-title {
    text-transform: uppercase;
    padding-bottom: 10px;
}

.footer {
    height: 40px;
    background-color: black;
}

.footers-subtext {
    color: #fff;
    transform: translateY(8px);
}

.modal-label {
    min-width: 100%;
}

.modal-input {
    min-width: 100%;
    padding: 10px 10px;
}

.forms-title {
    margin-top: 10px;
    font-size: 20px;
    font-weight: 400;
}

.form-title {
    font-size: 20px;
    font-weight: 400;
}

.submit {
    border: none;
    outline: none;
    background-color: limegreen;
    border-radius: 5px;
    width: 100%;
    margin-top: 20px;
    padding: 10px 0;
}

@media (max-width: 988px) {
    .map > .container {
        flex-direction: column;
    }

    .wrapper {
        width: 100%;
        text-align: center;
    }
}

@media (max-width: 764px) {
    .header > .container {
        display: flex;
        flex-direction: column;
    }
}

@media (max-width: 566px) {
    .row > .col {
        min-width: 80% !important;
    }
}